.c-next {
  width: 100%;
  height: 100%;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: scaleX(1.1) translateX(-50%) rotate(-45deg);
  position: absolute;
  cursor: pointer;
}

.c-next__animation {
  animation: bottom 3s infinite;
  width: 64px;
  height: 64px;
  transition: width .5s, height .5s;
  position: absolute;
  left: 50%;
  bottom: 90px;
}

.c-next__animation:hover {
  width: 80px;
  height: 80px;
}

@keyframes bottom {
  0%, 25%, 75%, 100% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(50%);
  }
}
