.c-scrollbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: calc(100% - 7px);
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.1);
}

.c-scrollbar__item {
  flex: 1;
  opacity: 0;
  background: white;
  width: 100%;
  transition: opacity .3s;
}

.o-slide__button:nth-of-type(1):checked ~ .c-scrollbar>.c-scrollbar__item:nth-of-type(1),
.o-slide__button:nth-of-type(2):checked ~ .c-scrollbar>.c-scrollbar__item:nth-of-type(2),
.o-slide__button:nth-of-type(3):checked ~ .c-scrollbar>.c-scrollbar__item:nth-of-type(3) {
  opacity: .3;
}

