@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

body {
  font-family: sans-serif;
  margin: 0;
  background: #000;
  transform: scale(1) !important;
  transition: transform 1s;
}

html, body {
  height: 100%;
  overflow: hidden;
}

input[type=radio] {
  display: none;
}

h1 {
  font-weight: 100;
}
h1, h2 {
  margin: 0;
}

h2, strong {
  font-weight: 300;
}

label>img {
  width: 100%;
  height: 100%;
}