/* Taken from https://stackoverflow.com/a/35785002/80766 */

.o-backgroundcover__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.o-backgroundcover__image {
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;

}
